@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ProjetoCodeFirst:</h1>
    <p class="lead">O Entity Framework introduziu a abordagem Code-First com o Entity Framework 4.1. 
    Code-First é útil principalmente em Domain Driven Design. Na abordagem Code-First, 
    você se concentra no domínio de seu aplicativo e começa a criar classes para sua entidade de domínio, 
    em vez de projetar seu banco de dados primeiro e, em seguida, criar as classes que correspondem ao seu design de banco de dados. 
    A figura a seguir ilustra a abordagem do código primeiro</p>
    <p><a href="https://www.entityframeworktutorial.net/code-first/what-is-code-first.aspx" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>